[core]
  editor = nvim

[merge]
  tool = vimdiff

[mergetool]
  keepBackup = false

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[user]
  email = lucas.c.grunheidt@gmail.com
  name = grun00
[init]
  defaultBranch = main
